*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/

# Firebase
google-services.json
app/google-services.json

# API Keys (güvenlik)
*.keystore
*.jks
release.properties

# Logs
*.log
